# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

/agent/.python-version

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# LangGraph API
.langgraph_api
.env*
.next/
next-env.d.ts
agent/__pycache__
agent/out
agent/openapi-run.yaml
agent/docker-compose.yml

client/*.md

# Frontend
frontend/*.json
frontend/*.png